@media only screen and (max-width: 800px) {
    .center-music-info {
        text-align: center;
        padding-bottom: 10px;
    }

}


.music-card {
    min-height: 525px;
}

.music {
    padding-top: 20px
}

.dark-mode .music-body {
    background-color: #10171d;
    color: #ffffff;
}